#  Data Science Tools and Ecosystem

This notebook is well set up for Data Science!

**Objectives :**
* Tools for Data science
* Languages
* Environments
* Libraries

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. SQL

Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Pandas
* Matplotlib
* SciPy

|Data Science Tools|
|------------------|
|MySQL|
|CubeFlow|
|PixieDust|
|PredictionIO|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
a = 3
b = 4
c = 5
print(a*b+c)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
print("%02d:%02d" % (divmod(minutes, 60)))

03:20

In [8]:
200//60

3

In [9]:
print(float(200//60))

3.0

In [11]:
200/60

3.3333333333333335

## Author
Szilard Fazakas